{% extends "arosenius-admin-django/documents_images_base.html" %}

{% block title %}
    {{ documents_images }}
{% endblock %}

{% block content %}
    <h1><a href={% url "documents_images_list" %}>DocumentsImages</a></h1>
    <h2>{{ documents_images }} | <a href={% url "documents_images_update" documents_images.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "documents_images_delete" documents_images.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ documents_images }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}